<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (livro(); as livroRef) {
      <div>
        <h2 data-cy="livroDetailsHeading"><span jhiTranslate="bibliotecagamanovaApp.livro.detail.title">Livro</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ livroRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="bibliotecagamanovaApp.livro.titulo">Titulo</span></dt>
          <dd>
            <span>{{ livroRef.titulo }}</span>
          </dd>
          <dt><span jhiTranslate="bibliotecagamanovaApp.livro.autor">Autor</span></dt>
          <dd>
            <span>{{ livroRef.autor }}</span>
          </dd>
          <dt><span jhiTranslate="bibliotecagamanovaApp.livro.anoPublicacao">Ano Publicacao</span></dt>
          <dd>
            <span>{{ livroRef.anoPublicacao }}</span>
          </dd>
          <dt><span jhiTranslate="bibliotecagamanovaApp.livro.isbn">Isbn</span></dt>
          <dd>
            <span>{{ livroRef.isbn }}</span>
          </dd>
          <dt><span jhiTranslate="bibliotecagamanovaApp.livro.genero">Genero</span></dt>
          <dd>
            @if (livro()!.genero) {
              <div>
                <a [routerLink]="['/genero', livro()!.genero?.id, 'view']">{{ livroRef.genero?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/livro', livroRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
